<h1>顧客來源分析</h1>
<table>
	<tr>
		<td style="width:500px">
			<%= render "form"%>
		</td>
		<td style="background-color:#4682b4; color:white;">
			<h4><p style="color:black;">靠行 :</p><p> 通常是一個人，這個人可以靠自己的人脈找到很多的客人，</p>
				<p>自己賣自己賺錢，但又不成立公司 （ 或著也不夠大），</p>
				<p>於是掛在某個公司底下。這種類型就稱作靠行。</p>
				<p style="color:black;">B群 :</p><p> 通常是賣人情用的，比如某某董事長想要出國玩，</p>
				<p>但不想走正常管道，想用同業價購買產品。此種情況都由 B群下單。</p>
				<p style="color:black;">系統 :</p><p> 系統建置初期留下來的</p>
				<p style="color:black;">辦事處 :</p><p> 並非公司或旅行社，但也會購買旅遊產品，故也有開設帳號給他們 </p></h4>

			</td>
		</tr>
	</table>

