
<div style="background-color:#4682b4;height:300px ">
	<h1 style="padding-top:145px;color:white">這，是一個簡單的系統</h1></div>
	<h3>判斷可樂旅遊同業網站是否為有效通路</h3>
	<h4><p>本系統主要的功能是用來了解可樂旅遊的同業網站是否對同業而言為有效通路，</p>
		<p>利用商品點擊次數,下單數量,有效點擊分析,顧客分析,等相關資料</p>
		<p>對網頁進行同業使用網站的比率分析，</p>
		<p>接著利用系統分析出一目瞭然的圖表、簡單容易理解的數據等資訊，</p>
		<p>如此一來，就能夠方便決策者閱讀以及瞭解狀況，</p>
		<p>最後可樂旅遊再將所有問題統整，並且對同業網站進行改善以及修正，來提高同業的滿意度。</p></h4>
		<div style="background-color:#4682b4;height:300px "><h1 style="padding-top:145px;padding-buttom:100px;color:white">由，HelloWorld工作室共同開發</h1></div>
		<table style="margin-top:100px;">
			<tr >
				<td style="width:330px">
					<img src="ted.jpg" width="200px">
				</td>
				<td>
					<img src="leo.jpg" width="200px">

				</td>
				<td>
					<img src="michelle.jpg" width="200px">

				</td>
			</tr>
			<tr>
				<td>
					<h3>陳彥丞--------
					</br>Project Manager</h3>
					組長擔任的工作是不可或缺的靈魂人物，</br>
					他負責的部分是聯絡組員，</br>
					在組員低潮時，給組員們正面的想法及鼓勵，</br>
					帶領大家朝向正確的方向邁進，</br>
					並且可以適時減緩討論中緊張的氣氛，</br>
					並且讓組員們的想法達成共識。

				</td>
				
				<td>
					<h3>劉皪--------</br>
						Planning and Systems Designer</h3>
						這位組員是組織中的重要角色，</br>
						腦袋中總是有鬼靈精怪的點子，</br>
						每次在討論過程中總是可以提出令組員們驚嘆的新穎想法及新奇點子，</br>
						而且總是可以控制討論時的進度，</br>
						讓組織可以運行在正常的軌道上。</br>

					</td>
					<td>
						<h3>許聖謙---------
						</br>Lead Systems Analysis and Systems Designer</h3>
						身為組織中唯一的女性，</br>
						她心思細膩的一面是組織中不可或缺的資產，</br>
						在細節中總是可以看出問題，</br>
						她的強項是在於分析的部分，</br>
						可以精確地指出系統設計過程中的盲點與不足，</br>
						是位十分的重要的組員。</br>
					</td>
				</tr>
			</table>
